@model ProductAddViewModel

<section>
	<form asp-controller="Product" asp-action="Add" method="post">
		<section>
			<label asp-for="Product.Name"></label>
			<input asp-for="Product.Name" />
			<span style="color: red" asp-validation-for="Product.Name"></span>
		</section>
		<section>
			<label asp-for="Product.Description"></label>
			<input asp-for="Product.Description" />
			<span style="color: red" asp-validation-for="Product.Description"></span>
		</section>
		<section>
			<label asp-for="Product.Pirce"></label>
			<input asp-for="Product.Pirce" />
		</section>
		<section>
			<label asp-for="Product.Discount"></label>
			<input asp-for="Product.Discount" />
		</section>
		<section>
			<button type="submit">Submit</button>
		</section>
	</form>
</section>